body
{
    background-color: #E8E8E8;
    font-family: 'Permanent Marker', cursive;
}

img
{
    width: 480px;
    height: 300px;
}

button
{
    font-size: 2em;
    border: none;
    padding: 1em 1em;
    text-decoration: none;
}

.header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/pattern.png");
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    filter:alpha(opacity=50);
}

.header-container span
{
    font-size: 3em;
    background-color:white;
    -webkit-text-stroke: 2px black;
}

.speaker-container
{
    display: flex;
    justify-content: space-evenly; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 5em;
    margin-bottom: 4em;
}

.speaker-container span
{
    font-size: 3em;
}

.answers-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
}

.answer-text
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}